<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB 108.9 kB/s eta 0:00:55
     ---------------------------------------- 0.0/6.0 MB 196.9 kB/s eta 0:00:31
     ---------------------------------------- 0.1/6.0 MB 219.0 kB/s eta 0:00:28
      --------------------------------------- 0.1/6.0 MB 423.5 kB/s eta 0:00:14
     - -------------------------------------- 0.3/6.0 MB 820.5 kB/s eta 0:00:07
     --- ------------------------------------ 0.5/6.0 MB 1.4 MB/s eta 0:00:04
     ---- ----------------------------------- 0.7/6.0 MB 1.6 MB/s eta 0:00:04
     ------ --------------------------------- 1.0/6.0 MB 2.1 MB/s eta 0:00:03
     -------- ------------------------------- 1.3/6.0 MB 2.5 MB/s eta 0:00:02
     ---------- ----------------------------- 1.6/6.0 MB 2.9 MB/s eta 0:00:02
     ------------ --------------------------- 1.8/6.0 MB 3.1 MB/s eta 0:00:02
     -------------- ------------------------- 2.1/6.0 MB 3.3 MB/s eta 0:00:02
     ---------------- ----------------------- 2.5/6.0 MB 3.6 MB/s eta 0:00:01
     ------------------ --------------------- 2.8/6.0 MB 3.8 MB/s eta 0:00:01
     -------------------- ------------------- 3.1/6.0 MB 4.0 MB/s eta 0:00:01
     ---------------------- ----------------- 3.4/6.0 MB 4.1 MB/s eta 0:00:01
     ------------------------ --------------- 3.7/6.0 MB 4.2 MB/s eta 0:00:01
     -------------------------- ------------- 4.0/6.0 MB 4.3 MB/s eta 0:00:01
     ---------------------------- ----------- 4.3/6.0 MB 4.4 MB/s eta 0:00:01
     ------------------------------ --------- 4.6/6.0 MB 4.4 MB/s eta 0:00:01
     -------------------------------- ------- 4.9/6.0 MB 4.5 MB/s eta 0:00:01
     ---------------------------------- ----- 5.1/6.0 MB 4.6 MB/s eta 0:00:01
     ------------------------------------ --- 5.4/6.0 MB 4.6 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 4.6 MB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 4.6 MB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 4.6 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-win_amd64.whl size=1142949 sha256=7b0c088de90e13674abebb73c253e688a0a7ad022528843fc6835e53fd37284c
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\3a\7c\1e\12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Obtaining dependency information for ipython-sql from https://files.pythonhosted.org/packages/30/8f/9e50fa53ffc371483f9d1b90c1175b706d28a2e978e90a8894035af01905/ipython_sql-0.5.0-py3-none-any.whl.metadata
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/02/c7/5613524e606ea1688b3bdbf48aa64bafb6d0a4ac3750274c43b6158a390f/prettytable-3.16.0-py3-none-any.whl.metadata
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (8.15.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/cd/57/f0369e53e3031afabf5a7f7b78134037245dfed8b884d4d0e1a9c87b7c0f/sqlalchemy-2.0.39-cp311-cp311-win_amd64.whl.metadata
  Downloading sqlalchemy-2.0.39-cp311-cp311-win_amd64.whl.metadata (9.9 kB)
Collecting sqlparse (from ipython-sql)
  Obtaining dependency information for sqlparse from https://files.pythonhosted.org/packages/a9/5c/bfd6bd0bf979426d405cc6e71eceb8701b148b16c21d2dc3c261efc61c7b/sqlparse-0.5.3-py3-none-any.whl.metadata
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: backcall in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\hp\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hp\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.39-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 660.6 kB/s eta 0:00:04
    --------------------------------------- 0.0/2.1 MB 660.6 kB/s eta 0:00:04
    --------------------------------------- 0.0/2.1 MB 660.6 kB/s eta 0:00:04
    --------------------------------------- 0.0/2.1 MB 660.6 kB/s eta 0:00:04
    --------------------------------------- 0.0/2.1 MB 151.3 kB/s eta 0:00:14
    --------------------------------------- 0.0/2.1 MB 151.3 kB/s eta 0:00:14
    --------------------------------------- 0.0/2.1 MB 151.3 kB/s eta 0:00:14
   - -------------------------------------- 0.1/2.1 MB 142.6 kB/s eta 0:00:15
   - -------------------------------------- 0.1/2.1 MB 176.6 kB/s eta 0:00:12
   - -------------------------------------- 0.1/2.1 MB 174.7 kB/s eta 0:00:12
   -- ------------------------------------- 0.1/2.1 MB 192.8 kB/s eta 0:00:11
   -- ------------------------------------- 0.1/2.1 MB 200.4 kB/s eta 0:00:10
   --- ------------------------------------ 0.2/2.1 MB 245.8 kB/s eta 0:00:08
   --- ------------------------------------ 0.2/2.1 MB 243.8 kB/s eta 0:00:08
   --- ------------------------------------ 0.2/2.1 MB 262.2 kB/s eta 0:00:08
   ---- ----------------------------------- 0.2/2.1 MB 280.7 kB/s eta 0:00:07
   ---- ----------------------------------- 0.2/2.1 MB 295.5 kB/s eta 0:00:07
   ----- ---------------------------------- 0.3/2.1 MB 309.9 kB/s eta 0:00:06
   ----- ---------------------------------- 0.3/2.1 MB 327.8 kB/s eta 0:00:06
   ------ --------------------------------- 0.3/2.1 MB 338.8 kB/s eta 0:00:06
   ------ --------------------------------- 0.4/2.1 MB 348.2 kB/s eta 0:00:06
   ------- -------------------------------- 0.4/2.1 MB 361.9 kB/s eta 0:00:05
   ------- -------------------------------- 0.4/2.1 MB 374.4 kB/s eta 0:00:05
   -------- ------------------------------- 0.4/2.1 MB 382.3 kB/s eta 0:00:05
   -------- ------------------------------- 0.5/2.1 MB 388.2 kB/s eta 0:00:05
   --------- ------------------------------ 0.5/2.1 MB 398.3 kB/s eta 0:00:05
   ---------- ----------------------------- 0.5/2.1 MB 407.7 kB/s eta 0:00:04
   ---------- ----------------------------- 0.6/2.1 MB 424.1 kB/s eta 0:00:04
   ----------- ---------------------------- 0.6/2.1 MB 434.3 kB/s eta 0:00:04
   ------------ --------------------------- 0.7/2.1 MB 448.9 kB/s eta 0:00:04
   ------------- -------------------------- 0.7/2.1 MB 455.4 kB/s eta 0:00:04
   ------------- -------------------------- 0.7/2.1 MB 461.5 kB/s eta 0:00:04
   -------------- ------------------------- 0.7/2.1 MB 472.0 kB/s eta 0:00:03
   -------------- ------------------------- 0.8/2.1 MB 477.3 kB/s eta 0:00:03
   --------------- ------------------------ 0.8/2.1 MB 490.0 kB/s eta 0:00:03
   ---------------- ----------------------- 0.9/2.1 MB 494.4 kB/s eta 0:00:03
   ----------------- ---------------------- 0.9/2.1 MB 504.5 kB/s eta 0:00:03
   ----------------- ---------------------- 0.9/2.1 MB 514.3 kB/s eta 0:00:03
   ------------------ --------------------- 1.0/2.1 MB 523.3 kB/s eta 0:00:03
   ------------------- -------------------- 1.0/2.1 MB 531.9 kB/s eta 0:00:03
   -------------------- ------------------- 1.1/2.1 MB 540.1 kB/s eta 0:00:02
   --------------------- ------------------ 1.1/2.1 MB 547.8 kB/s eta 0:00:02
   --------------------- ------------------ 1.2/2.1 MB 556.2 kB/s eta 0:00:02
   ---------------------- ----------------- 1.2/2.1 MB 562.4 kB/s eta 0:00:02
   ----------------------- ---------------- 1.2/2.1 MB 573.9 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 585.3 kB/s eta 0:00:02
   ------------------------- -------------- 1.3/2.1 MB 591.6 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 601.8 kB/s eta 0:00:02
   --------------------------- ------------ 1.4/2.1 MB 607.2 kB/s eta 0:00:02
   ---------------------------- ----------- 1.5/2.1 MB 616.6 kB/s eta 0:00:02
   ---------------------------- ----------- 1.5/2.1 MB 621.5 kB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 630.4 kB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.1 MB 647.1 kB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 647.4 kB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 659.4 kB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.1 MB 663.0 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 674.3 kB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 681.4 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 688.2 kB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 698.5 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 704.7 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 711.3 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 709.3 kB/s eta 0:00:00
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.4 kB ? eta -:--:--
   ---------------------------------------- 44.4/44.4 kB 2.1 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.39 sqlparse-0.5.3
Requirement already satisfied: ipython-sql in c:\users\hp\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\hp\anaconda3\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\hp\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: backcall in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hp\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [4]:
%load_ext sql

In [5]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [6]:
!pip install -q pandas

In [7]:
%sql sqlite:///my_data1.db

In [8]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [10]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [11]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [13]:
%sql select distinct("Landing_Outcome") from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [15]:
%sql select * from SPACEXTBL where "Launch_Site" like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [17]:
%sql select "PAYLOAD_MASS__KG_", "Customer" from SPACEXTBL where "Customer" = 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(500, 'NASA (CRS)'),
 (677, 'NASA (CRS)'),
 (2296, 'NASA (CRS)'),
 (2216, 'NASA (CRS)'),
 (2395, 'NASA (CRS)'),
 (1898, 'NASA (CRS)'),
 (1952, 'NASA (CRS)'),
 (3136, 'NASA (CRS)'),
 (2257, 'NASA (CRS)'),
 (2490, 'NASA (CRS)'),
 (2708, 'NASA (CRS)'),
 (3310, 'NASA (CRS)'),
 (2205, 'NASA (CRS)'),
 (2647, 'NASA (CRS)'),
 (2697, 'NASA (CRS)'),
 (2500, 'NASA (CRS)'),
 (2495, 'NASA (CRS)'),
 (2268, 'NASA (CRS)'),
 (1977, 'NASA (CRS)'),
 (2972, 'NASA (CRS)')]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [19]:
%sql select avg("PAYLOAD_MASS__KG_") from SPACEXTBL where "Booster_Version" = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [21]:
%sql select min("Date") from SPACEXTBL where "Landing_Outcome" = 'Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [23]:
%sql select "Booster_Version" from SPACEXTBL where "Landing_Outcome" = 'Success (drone ship)' and "PAYLOAD_MASS__KG_" between 4000 and 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [25]:
%sql select "Mission_Outcome", count(*) as "Total Number" from SPACEXTBL group by "Mission_Outcome"

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "Number": syntax error
[SQL: select Mission_Outcome , count(*) as Total Number from SPACEXTBL group by Mission_Outcome]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [27]:
%sql select "Booster_Version" from SPACEXTBL where "PAYLOAD_MASS__KG_" = (select max("PAYLOAD_MASS__KG_") from SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [29]:
%sql select substr(Date, 6,2) as Month, "Booster_Version", "Launch_Site", "Landing_Outcome" from SPACEXTBL where substr(Date,0,5)='2015' and "Landing_Outcome" = 'Failure (drone ship)'

 * sqlite:///my_data1.db
Done.

[('01', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('04', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [31]:
%sql select "Landing_Outcome", count(*) as 'Total Count', rank() over (order by count(*) desc) as 'Ranks' from SPACEXTBL where "Date" between '2010-06-04' and '2017-03-20' group by "Landing_Outcome"

 * sqlite:///my_data1.db
Done.

[('No attempt', 10, 1),
 ('Success (drone ship)', 5, 2),
 ('Failure (drone ship)', 5, 2),
 ('Success (ground pad)', 3, 4),
 ('Controlled (ocean)', 3, 4),
 ('Uncontrolled (ocean)', 2, 6),
 ('Failure (parachute)', 2, 6),
 ('Precluded (drone ship)', 1, 8)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>